@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Roboto+Condensed:wght@300&family=Satisfy&display=swap');

html {
    font-size: 62.5%;

    font-family: sans-serif;
}
    
body {
    margin-left: 150px;
    margin-right: 150px;
}
.logo {
    height: 110px;
    width:266px;
    margin-left: 20px;
    margin-right: 10px;
}

.confianza {
    font-family: cursive;
}


ul {
    list-style-type: none;
    overflow: hidden;
    border-radius: 20px;
}



.opcionesnav  li a{
    color: white;
    text-align: center;
    font-size: 20px;
    border-radius: 20px;

}
.stilo {
    border-radius: 20px;
    background-color: cornflowerblue;

}
li a:hover {
    background-color:#05C73F;
}
section figure a:hover {
    background-color: #05C73F;
    padding: 10px 10px;
    border-radius: 20px 20px 20px 20px;
}

.flexbox {
    display: flex;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 20px; 
   
}

.img {
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    padding-block-start: 350px;
    width: 100%;
    padding: 10px 0px 0px 0px;
    
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


* {
    box-sizing: border-box;
}
.containerimg{
    display: flex;
    background-color: cornflowerblue;
    border-radius: 20px;
}
.row .img2 {
    text-align: center; 
}
.containerimg .img{
    border-radius: 20px;
}
.row .img2 img {
    padding: 30px;
    border-radius: 20px;
}

.img .btn   {
    position: absolute;
     top:29%;
     left:38%;
     text-decoration: none;
     background-color: cornflowerblue;
     color: white;
     padding: 25px;
     font-size: 20px;
     border-radius: 20px; 
}
.img .btn:hover {
    background-color:#05C73F;
    transform: scale(1.1);

}
.row .img2 figure a:hover  {
    background-color:#05C73F;
}
 

.row .img2 figure a {
    color: white;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    padding: 10px 10px 10px 10xp;
}
.containertext-center {
    width: 100%;
}


footer {
    margin-top: 50px;
    width: 100%;
}

.row h1 {
    font-size: 16px;
    text-align: center;
    padding: 30px;
   
}
.lista li{
 color: white;
 text-align: center;
 padding: 10px;
}
.redes {
    text-align: center;
}
.redes a{
    color: white;
    padding: 20px;
    
}
.containertext-center .grupo2 {
    background-color: cornflowerblue;
    padding: 15px 10px;
    text-align: center;
    color: white;
    font-size: 15px;
}
.texto {
    color: white;
    text-align: center;
    font-size: 80px;
    text-decoration: none;
    background-color: #05C73F;
}

h2 {
    font-size: 80px;
}

h1 {
    font-size: 80px;
    color: white;
}



#contact .imagen .formulario {
    width: 100%;
    flex-grow: 1;
    padding: 80px 0px 80px;
    margin-top: 200px;
}
#contact img{
    width: 50px ;
}
#contact h1 {
    color: white;
    font-size: 100px;
    text-decoration: none;
    padding: 80px 25px 80px 25px;
    text-align: left;
    justify-content: center;
}

* {
    box-sizing: border-box;
}

form {
    font-size: 30px;
    color: white;
    width: 50%;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type="text"],
input[type="number"],
input[type="Mail"] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid;
    border-radius: 4px;
}

textarea {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid;
    border-radius: 4px;
    resize: none;
}

input[type="submit"],
input[type="reset"] {
    background-color:#05C73F;
    border: none;
    color: white;
    padding: 30px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 30px
}

.coment {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.coment2 {
    float: left;
    width: 75%;
    margin-top: 6px;
    padding: 12px 12px 12px 0;
}

#intro {
    justify-content: center;
    align-items: center;
    height: 400px;
}

#intro div {
    width: 100%;
    text-align: center;
}

#intro h2 {
    color: white;
    font-size: 100px;
    text-decoration: none;
    background-color:z#4BFA2D;
    padding: 80px 25px 80px 25px;
}

body .volver  {
    padding: 50px 0px 50px 25px;
    background-color: #05C73F;
    text-align: center;

}
.volver{
    border-radius: 20px;
}
.volver a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    
}

#nosotros div {
    width: 50%;
    flex-grow: 1;
    padding: 80px 0px 80px;
    margin-top: 200px;
}
.servicios{
    justify-content: center;
}

body div h2{
    color: white;
    background-color: cornflowerblue;
    padding: 30px 25px 30px 25px;
    font-size: 30px;
    text-align: center;
    border-radius: 20px;
}
.serv  {
    display: flex;
    background-color: #05C73F;
    border-radius: 20px;
}

.row .col-xs-12 .col-md-4 .col-lg-4, p {
  color: white;
  text-align: center;
    font-size: 16px;
    text-decoration: none;
    justify-content: center;
    padding: 20px ;

}


.row .ofi{
    height: 263px;

}

#contact {
    width: 100%;
    position: relative;
    text-align: center;
    background-color: cornflowerblue;
    display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
@media  (max-width:767px) {
    .containerimg {
        flex-direction: column; 
    }
    .servfotos{
        flex-direction: column;
    }
    

}
