@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Roboto+Condensed:wght@300&family=Satisfy&display=swap');

html {
    font-size: 62.5%;

    font-family: sans-serif;
}

body {
    margin-left: 550px;
    margin-right: 550px;
}
.logo {
    height: 340px;
    width: 790px;
    margin-left: 30px;
}

.confianza {
    font-family: cursive;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: cornflowerblue;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 80px 50px;
    text-decoration: none;
    font-size: 70px;
}

li a:hover {
    background-color: #4BFA2D;
}

.flexbox {
    display: flex;
}

.menu2 {
    float: right;
}

img {
    max-width: 100%;
    height: auto;
   
}

.img {
    background-color: cornflowerblue;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    padding-block-start: 350px;
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin-bottom: 0px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


* {
    box-sizing: border-box;
}
.containerimg{
    display: flex;

}
.img2 {
    position: relative;
    text-align: center;
    background-color: cornflowerblue;
}

.img2 img {
    padding: 200px 100px 20px 100px;
    border-radius: 20px;

}

.row ::after {
    content: "";
    clear: both;
    display: table;

}

.btn {
    text-decoration: none;
    background-color: cornflowerblue;
    color: white;
    padding: 100px;
    text-align: center;
    font-size: 70px;
    border-radius: 20px;
}

figure .centered a:hover {
    background-color: #4BFA2D;
    padding: 100px;

}

.ir {
    color: white;
    text-align: center;
    font-size: 80px;
    text-decoration: none;
    justify-content: center;
}

.texto {
    color: white;
    text-align: center;
    font-size: 80px;
    text-decoration: none;
    background-color: #4BFA2D;
}

h2 {
    font-size: 80px;
}

h1 {
    font-size: 80px;
    color: white;
}


section figure a:hover {
    background-color: #4BFA2D;
    padding: 80px 10px;
    border-radius: 20px 20px 20px 20px;
}

.bottom-left {
    position: relative;
    padding: 80px 10px;

}


.centered {
    position: absolute;
    top: 42%;
    left: 40%;

}

.pie {
    width: 100%;
    background-color: cornflowerblue;
}

.pie .grupo1 {
    width: 100%;
    max-width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie .grupo1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie .grupo1 .box figure img {
    width: 100%;
    height: 300px;
}

.pie .grupo1 .box h2 {
    color: cornflowerblue;
    margin-bottom: 25px;
    font-size: 80px;
    background-color: white;
}

.pie .grupo1 .box p {
    color: cornflowerblue;
    font-size: 50px;
}

.pie .grupo1 .box h1 {
    color: cornflowerblue;
    margin-bottom: 25px;
    font-size: 80px;
}

.pie .grupo1 .redes a {
    display: inline-block;
    text-decoration: none;
    width: 100px;
    height: 100px;
    line-height: 100px;
    color: cornflowerblue;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: white;
    text-align: center;
    font-size: 70px;
}

.pie .grupo2 {
    background-color: cornflowerblue;
    padding: 15px 10px;
    text-align: center;
    color: white;
}

.pie .grupo2 small {
    font-size: 50px;
}

footer {
    margin-top: 50px;
    width: 100%;
    height: 200px;
}

#contact {
    width: 100%;
    position: relative;
    text-align: center;
    background-color: cornflowerblue;
    display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#contact .imagen .formulario {
    width: 100%;
    flex-grow: 1;
    padding: 80px 0px 80px;
    margin-top: 200px;
}
#contact img{
    width: 50px ;
}
#contact h1 {
    color: white;
    font-size: 100px;
    text-decoration: none;
    padding: 80px 25px 80px 25px;
    text-align: left;
    justify-content: center;
}

* {
    box-sizing: border-box;
}

form {
    font-size: 30px;
    color: white;
    width: 50%;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type="text"],
input[type="number"],
input[type="Mail"] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid;
    border-radius: 4px;
}

textarea {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid;
    border-radius: 4px;
    resize: none;
}

input[type="submit"],
input[type="reset"] {
    background-color: #4BFA2D;
    border: none;
    color: white;
    padding: 30px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 30px
}

.coment {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.coment2 {
    float: left;
    width: 75%;
    margin-top: 6px;
    padding: 12px 12px 12px 0;
}

#intro {
    justify-content: center;
    align-items: center;
    height: 400px;
}

#intro div {
    width: 100%;
    text-align: center;
}

#intro h2 {
    color: white;
    font-size: 100px;
    text-decoration: none;
    background-color: #4BFA2D;
    padding: 80px 25px 80px 25px;
}

.texto {
    color: white;
    font-size: 80px;
    text-decoration: none;
    background-color: cornflowerblue;
    padding: 80px 25px 80px 25px;
}

#nosotros div {
    width: 50%;
    flex-grow: 1;
    padding: 80px 0px 80px;
    margin-top: 200px;
}
#servicios{
    justify-content: center;
}
body div h2{
    color: white;
    background-color: cornflowerblue;
    padding: 80px 25px 80px 25px;
    font-size: 100px;
    text-align: center;
}
#servfotos  {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
  
}
.container figure{
  color: white;
  text-align: center;
    font-size: 80px;
    text-decoration: none;
    justify-content: center;
    background-color: #4BFA2D;
    padding: 20px ;
}

.container .comprar .techos {
    height: 1045px;
}
.container .ofi{
    height: 1042px;

}

@media  (max-width:767px) {
    .containerimg {
        flex-direction: column; 
        
    
    }

}
